<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Update Customers</title>
  <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"
  />
  <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous"
  />
  <link rel="stylesheet" href="../css/shards.min.css" />
</head>

<body>
<form
        class="container my-5"
        method="POST"
        action="#"
        th:action="@{/customer/edit/{id}(id=${customer.customerid})}"
        th:object="${customer}"
>
  <h1>Fill in the details of the business entity phone number</h1>
  
   <section class="personid">
    <span>Person/Business Entity: </span>
    <select th:field="*{personid}">
      <option
              th:each="per : ${persons}"
              th:value="${per.businessentityid}"
              th:text="${per.firstname}"
              th:attrappend="selected=${customer.personid != null and customer.personid == per.businessentityid}?'selected'"
      ></option>
    </select>
    <span th:if="${#fields.hasErrors('personid')}" th:errors="*{personid}" class="text-danger"></span>
  <br>
  </section>
  
  <section class="store">
    <span>Store: </span>
    <select th:field="*{store}">
      <option
              th:each="store : ${stores}"
              th:value="${store.businessentityid}"
              th:text="${store.name}"
              th:attrappend="selected=${customer.store != null and customer.store.businessentityid == store.businessentityid}?'selected'"
      ></option>
    </select>
    <span th:if="${#fields.hasErrors('store')}" th:errors="*{store}" class="text-danger"></span>
  <br>
  </section>
  
  
  <div class="row">
    <div class="col-md-4 mt-3">
      <input type="submit" name="action" class="btn btn-primary" value="Update">
    </div>
    <div class="col-md-3 mt-3">
      <input type="submit" name="action" class="btn btn-secondary" value="Cancel">
    </div>
  </div>
</form>
</body>
</html>